/WFRP_NPC_output
WFRP_NPC_output/.DS_Store
# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
.dist/
.pytest_cache/
.mypy_cache/
.env
.venv
venv/

# macOS & editors
.DS_Store
.idea/
.vscode/
